/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.gsp-parent-node li {
    padding: 5px 5px !important;
}

.gsp-parent-node .ab-icon:before {
    content: "\f503";
    font-family: 'dashicons';
    top: 3px;
}

.gsp-parent-node .gsp-status-icon:before {
    content: '\f339';
    font-family: 'dashicons';
    font-size: 16px;
    position: relative;
    top: 3px;
}

.gsp-parent-node .gsp-status-icon-active:before {
    color: green;
}

.gsp-parent-node .gsp-status-icon-inactive:before {
    color: red;
}

.gsp-parent-node .gsp-plugin-title {
    margin-left: 5px !important;
}